*{
   padding: 0;
   margin: 0;
}

#header{
   background-color: blue;
   width: 100%;
   height: 150px;
}
.container1{
   background-color: grey;
   width: 100%;
   height: 400px;
}
.container2{
   background-color: red;
   width: 100%;
   height: 400px;

}
div{
   background-color: green;
   width: 100%;
   height: 300px;
}